*{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: system-ui;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
}
#bottum{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.bottum{
    display: flex;
    justify-content: space-between;
}
.top>div{
    padding: 0px 20px;
}
#right{
    margin-left: 150px;
}
#left>p{
    text-align: start;
    line-height: 30px;
}
img{
    width: 100%;
    height: 70%;
}
p{
    color: rgb(0, 0, 0);
}
img+p{
    color: red;
}
.data{
    padding-bottom: 50px;
}
button{
    margin-top: 10px;
}
