#logincontainerFoot {
    height: 10x;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  #formlogin {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.25);
  }
  
  #formlogin input {
    width: 95%;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #ec008c
  }
  #formlogin input[type="submit"] {
    color: white;
    background: #ec008c;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  #formlogin input[type="submit"]:hover{
      cursor: pointer;
  }
  
  #formlogin-heading {
    
    margin: 0.5rem;
  }
   #formlogin hr{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  #formlogin button{
    border: 0px;
    width:100%;
    height: 50px;
    font-size: 1.5rem;
    margin-top: -10px;
    background-color: black;
    color: white;
  }
  #formlogin button:hover{
    background-color: #ec008c;
    cursor: pointer;
  }
  